<script setup lang="ts">
import Smart from './Smart.vue'
import Offline from './Offline.vue'
import { state } from "../socket";

</script>

<template>
  <Smart v-if="state.connected"/>
  <Offline v-else/>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
