<script setup lang="ts">
import { ref, watch } from 'vue'
import { state, socket } from "../socket";

const props = defineProps({
  light: Object
})

const slider = ref()
const colorSlider = ref()
const sunSlider = ref()

const onSlideUpdate = async newValue => {
    socket.emit(props.light.config.intensity, { 
        light: newValue
    }, () => {})
}

watch(colorSlider, (newValue, oldValue) => {
    const color = newValue.replace(/[^0-9,]/g, '')
    socket.emit(props.light.config.color, { 
        color
    }, () => {})
})


const onSunSliderUpdate = async sliderValue => {
    const transformColor = Math.round(sliderValue * 2.55)
    const off = transformColor > 16 ? "" : "0" ;
    const toHex = off + transformColor.toString(16)
    socket.emit(props.light.config.color, { 
        color: `00000000${toHex}`
    }, () => {})
}

</script>

<template>
   <van-cell-group inset>
      <van-cell>
        <h1>{{props.light.name}}</h1>
      </van-cell>
      <van-field name="slider" label="Intensity">
        <template #input>
          <van-slider v-model="slider" @change="onSlideUpdate" :min="0" :max="100" />
        </template>
      </van-field>
      <van-field name="slider2" label="Sun">
        <template #input>
          <van-slider v-model="sunSlider" @change="onSunSliderUpdate" :min="0" :max="100" />
        </template>
      </van-field>
      <van-field name="colorpicker" label="Color">
        <template #input>
          <color-picker v-model:pureColor="colorSlider" />
        </template>
      </van-field>
   </van-cell-group>
  
</template>

<style scoped>
h1 {
  text-align: left;
}
.read-the-docs {
  color: #888;
}
</style>
