<script setup lang="ts">
import { state } from "../socket";

const copy = () => {
    navigator.clipboard.writeText(state.peerId)
}

</script>

<template>

<van-row justify="center">
  <van-cell>
    <h1>Unreachable</h1>
  </van-cell>
  <van-cell>
    <van-empty image="network" description="Click to copy ID"  @click="copy"/>
  </van-cell>
</van-row>

</template>

<style scoped>
.read-the-docs {
  color: #888;
}
h1 {
  text-align: center;
}
</style>
