<script setup lang="ts">
import { ref } from 'vue'

const list = ref([]);
const loading = ref(false);
const finished = ref(false);

const message = ref('')

const sendMessage = () => {
    list.value = [
        {
            username: 'John',
            text: message.value
        },
        ...list.value
    ]
    message.value = ''
}

const onLoad = () => {
    setTimeout(() => {
        for (let i = 0; i < 10; i++) {
            list.value.push({
                username: 'Hello',
                text: 'asdasdsadsadsadasdsadasdasdasd'
            });
        }
        loading.value = false;

        if (list.value.length >= 40) {
            finished.value = true;
        }
    }, 200);
};
</script>

<template>
    <van-sticky>
        <van-cell-group inset>
            <van-field
                v-model="message"
                rows="2"
                autosize
                label="Message"
                type="textarea"
                maxlength="50"
                placeholder="Message"
                show-word-limit
            >
                <template #button>
                    <van-button @click="sendMessage" size="small" type="primary">Post</van-button>
                </template>
            </van-field>
        </van-cell-group>
    </van-sticky>
    <van-list
        v-model:loading="loading"
        :finished="finished"
        finished-text="Finished"
        @load="onLoad">
        <van-card
            v-for="item in list" :key="item"
            :title="item.username"
            :desc="item.text"
            thumb="/assets/user.svg"
        />
    </van-list>
    <!-- <van-row justify="center">
         <van-tabbar v-model="active">
         <van-tabbar-item icon="home-o">Home</van-tabbar-item>
         <van-tabbar-item icon="apps-o">Smart</van-tabbar-item>
         <van-tabbar-item icon="user-o">Profile</van-tabbar-item>
         </van-tabbar> 
         </van-row> -->
</template>

<style scoped>
.read-the-docs {
    color: #888;
}
</style>
