<script setup lang="ts">
import { ref, watch } from 'vue'
import { state, socket } from "../socket";
import Light from './Light.vue'
const doorOpen = ref(false)
const toggleLed = ref(false)

watch(
    () => state.info,
    ({ type, action }) => {
        console.log(type, action)
        if (type === 'led/POWER') {
            toggleLed.value = action == 'ON' ? true : false
        }
    }
)

const onDoorUpdateValue = async (newValue) => {
    socket.emit('bunker/door', { 
        rotation: newValue ? 100 : 0
    }, () => {})
    doorOpen.value = newValue
}

const onLedUpdateValue = async newValue => {
    socket.emit('bunker/led', { 
        action: newValue ? 'on' : 'off'
    }, () => {})
    toggleLed.value = newValue
}


const lights = [
    {
        name: 'Light 1',
        config: {
            intensity: 'bunker/light/bulb/1',
            color: 'bunker/light/bulb/1/color'
        }
    },
]


</script>

<template>
    <div>
        <van-cell-group>
            <van-cell title="Door" label="Open/Close door" center>
                <van-switch :model-value="doorOpen" @update:model-value="onDoorUpdateValue"/>
            </van-cell>
            <van-cell title="Led" label="Toggle led" center>
                <van-switch :model-value="toggleLed" @update:model-value="onLedUpdateValue"/>
            </van-cell>
        </van-cell-group>
        <Light v-for="light in lights" :light="light" />
    </div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
