<script setup lang="ts">
import router from './router/router';
import { watch } from 'vue'
import { showNotify } from 'vant';
import { state } from "./socket";

showNotify({ type: 'danger', message: 'Offline', position: 'bottom' })

watch(
    () => state.connected,
    (connected) => {
        if (connected) {
            showNotify({ type: 'success', message: 'Online', position: 'bottom', });
        } else {
            console.log(state.authMessage)
            showNotify({ type: 'danger', message: 'Offline', position: 'bottom', });
        }
    }
)

</script>

<template>
  <router-view></router-view>
</template>

<style scoped>
.logo {
  height: 18em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #53f2c8);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
